<!DOCTYPE html>
<html lang="en">

<!--head-->
<%- include("partials/head.ejs") %>

<body class="box-border">


    <!--header-->
    <%- include("partials/header.ejs") %>


     <div class="flex ">
        <!--leftside navigation-->
        <div class="border-e-2  ">
            <div class="mx-4 mt-10 mb-80">
                
                <a href="dashboard" class=" mb-3 ps-4 text-left w-48 py-2 hover:bg-gray-100 block">
                        <div>Dashboard</div>
                </a>
                <a href="products" class="bg-[#DDE6ED] mb-3 ps-4 text-left w-48 py-2 block">
                    <div class="font-semibold">Products</div>
                </a>
                <a href="customers" class=" mb-3 ps-4 text-left w-48 py-2 hover:bg-gray-100 block">
                    <div>Customers</div>
                </a>
                <a href="orders" class=" mb-3 ps-4 text-left w-48 py-2 hover:bg-gray-100 block">
                    <div>Orders</div>
                </a>
                <a href="categories" class=" mb-3 ps-4 text-left w-48 py-2 hover:bg-gray-100 block">
                    <div>Category</div>
                </a>
                <a href="settings" class=" mb-3 ps-4 text-left w-48 py-2 hover:bg-gray-100 block">
                    <div>Settings</div>
                </a>
                
            </div>
        </div>
        <!--rightside content-->
        <div class="mx-7 mt-5 w-screen">

            <div class=" text-2xl font-poppins font-semibold">Product management</div>
            <!--add product button filter sort-->
            <div class="flex justify-between my-4">
                <div class="">
                    <button onclick="scrollToSection('section1')" class="bg-[#526D82] text-white px-3 py-1 font-medium rounded">+ Add product</button>
    
                    <form action="" class="inline">
                        <input type="text" name="" id="" placeholder="search" class="border-2 rounded-full ps-5 ms-5">
                    </form>
                </div>

                <div class="flex items-center">
                    <form action=""  class="flex items-center">
                        <div>Sort:</div>
                        <select name="product" id="" class="bg-white outline-none border-2 rounded-full px-2 opacity-50">
                            <option value="" disabled selected>Choose</option>
                            <option value="All">All</option>
                            <option value="Ascending">Product name</option>
                            <option value="Descending">Discount</option>
                            <option value="newest">Price</option>
                        </select>

                        <div class="ms-3">by:</div>
                        <select name="product" id="" class="bg-white outline-none border-2 rounded-full px-2 opacity-50">
                            <option value="" disabled selected>Choose</option>
                            <option value="All">All</option>
                            <option value="Ascending">A - Z</option>
                            <option value="Descending">Z - A</option>
                            <option value="newest">Newest first</option>
                            <option value="oldest">Oldest first</option>
                        </select>
                    </form>
                    <form action="" class="flex items-center">
                        <div class="ms-3">Filer by:</div>
                        <select name="filter" id="" class="bg-white outline-none border-2 rounded-full px-2 opacity-50">
                            <option value="" disabled selected>Choose</option>
                            <option value="All">All</option>
                            <option value="500-1000">500-1000</option>
                            <option value="1000-2000">1000-2000</option>
                            <option value="2000-5000">2000-5000</option>
                            <option value="Cutting">Cutting</option>
                            <option value="Drilling and fastening">Drilling and fastening</option>
                            <option value="Shaping and finishing">Shaping and finishing</option>
                            <option value="Specialized">Specialized</option>
                            <option value="Cleaning">Cleaning</option>
                            <option value="Generators">Generators</option>
                        </select>
                    </form>
                </div>
            </div>
            <!--product table-->
            <div class="h-[32rem]  mt-8 overflow-y-auto">
                <table class="w-full text-center">
                    <tr class="bg-[#526D82] text-white">
                        <th class="font-semibold py-1">#</th>
                        <th class="font-semibold py-1" class="w-1/3">Product Name</th>
                        <th class="font-semibold py-1">Product id</th>
                        <th class="font-semibold py-1" class="w-1/12">Price</th>
                        <th class="font-semibold py-1">Discount</th>
                        <th class="font-semibold py-1" class="w-1/5">Category</th>
                        <th class="font-semibold py-1">Action</th>
                    </tr>
                    <% products.forEach((data) => { %>
                        <tr>
                            <td class="text-sm"><%= data.serialnumber %></td>

                            <td class="text-sm capitalize"><%= data.productname %></td>
                            <td class="text-gray-400 text-sm">#<%= data.productid %></td>
                            <td class="text-sm"><%= data.regularprice %></td>
                            <td class="text-sm"><%= data.discountpercentage %>%</td>
                            <td class="text-sm capitalize"><%= data.category %></td>
                            <td>
                                <button onclick="scrollToSection('section1')"><img src="/images/edit.png" class="h-6" alt=""></button>
                                <button onclick="deletepopup()"><img src="/images/delete.png" class="h-6" alt=""></button>
                            </td>
                        </tr>
                    <% }) %>
                    
                    
                    
                   
                </table> 
            </div> 
            <!--edit product add product pop up-->
            <section id="section1" class="hidden">
                <div id="section" class="w-full">
                <div class=" text-2xl font-poppins font-semibold mt-5">Add/Edit Product</div>
                <div class="bg-white p-3 border-2">
                    <form method="post" action="/admin/products" enctype="multipart/form-data" class="flex justify-evenly">
                        
                        <div class="mx-0">
                            <div class="py-2">Add/change images</div>
                            
                            <div class=" gap-4">
                                <div class="flex items-center justify-center">
                                    <div class="max-w-md mx-auto bg-white p-6 rounded-md shadow-md">
                                        <div class="mt-4">
                                            <img id="imagePreview" class="hidden w-64 h-40" alt="Image Preview">
                                        </div>
                                        
                                        <div class="mt-1 flex items-center">
                                          <input
                                            id="fileInput"
                                            type="file"
                                            name="productimage"
                                            class="hidden"
                                            accept="image/*"
                                            onchange="previewImage(this)"
                                          >
                                          <label for="fileInput" class="cursor-pointer min-w-[4rem] px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-700">
                                            Upload Image
                                          </label>
                                        </div>
                                      </div>
                                    <span id="fileName" class="ml-2"></span>
                                  </div>
                            </div>
                        </div>
                        <div class="p-10 ">
                            <input type="text" required name="productname" placeholder="Product Name" class="rounded-full mt-4 p-2 w-full " id="">
                            <div class="flex w-full justify-between">
                                <input type="text" required name="brandname" placeholder="Brand Name" class="mt-4 p-2 w-1/2 me-1 rounded-full" id="">
                                <select name="category"id="" required class="rounded-full p-2 mt-4 w-1/2 bg-white opacity-50 outline-none">
                                    <option value="" disabled selected>Category</option>
                                    <% categories.forEach((category) => { %>
                                    <option value="<%= category.categoryname %>" class="capitalize"><%= category.categoryname %></option>
                                    <% }) %>
                                </select>
                            </div>
                            
                            <div class="flex w-full justify-between">
                                <input type="number" required name="regularprice" class="rounded-full mt-4 w-1/2 p-2 me-1" placeholder="Regular Price" id="">
                                <input type="number" name="discount" class="rounded-full mt-4 p-2 w-1/2" placeholder="Discount percentage" id="">
                            </div>
                            
                            <div class="flex w-full justify-between">
                                <!--date here-->
                                <select name="bestseller" class="p-2 rounded-full bg-white mt-4 opacity-50" id="">
                                    <option value="" disabled selected>bestseller</option>
                                    <option value="true">yes</option>
                                    <option value="false">no</option>
                                </select>
                                <select name="stockstatus" class="p-2 rounded-full bg-white mt-4 opacity-50" id="">
                                    <option value="" disabled selected>Stock Status</option>
                                    <option value="Available">Available</option>
                                    <option value="Out of stock">Out of stock</option>
                                </select>
                                <select name="productcondition" class="p-2 bg-white rounded-full mt-4 opacity-50 outline-none" id="">
                                    <option value="" disabled selected>Product Condition</option>
                                    <option value="Like new">Like new</option>
                                    <option value="Good">Good</option>
                                    <option value="Okay">Okay</option>
                                </select>
                            </div>
                           <div class="flex justify-between">
                                <p class=" font-medium mt-2">Features</p>
                            
                           </div>
                            <div class="w-full flex mt-2">
                                <input type="text" name="attribute" class="rounded-full w-1/2 p-2 me-1" placeholder="key" id="">
                                <input type="text" name="property" class="rounded-full w-1/2 p-2 me-1" placeholder="value" id="">
                            </div>
                            <div class="w-full flex mt-2">
                                <input type="text" name="attribute" class="rounded-full w-1/2 p-2 me-1" placeholder="key" id="">
                                <input type="text" name="property" class="rounded-full w-1/2 p-2 me-1" placeholder="value" id="">
                            </div>
                            <div class="w-full flex mt-2">
                                <input type="text" name="attribute" class="rounded-full w-1/2 p-2 me-1" placeholder="key" id="">
                                <input type="text" name="property" class="rounded-full w-1/2 p-2 me-1" placeholder="value" id="">
                            </div>
                            <div id="newspace">

                            </div>
                            
                            <div class="mt-2 flex justify-end">
                                <button class="px-4 py-2 bg-blue-600 text-white rounded-full text-xs font-semibold" type="button" onclick="addmoreinput()">Add more</button>
                            </div>

                            <div class="flex justify-end  mt-36">
                                <button type="submit" class="px-6 py-4 bg-red-500 text-white rounded ">Save Changes</button>
                            </div>
                            
                        
                        </div>
                    </form>
                </div>
                </div>
            </section>
        
        </div>
    </div>
    
    <%- include("partials/delete-product-popup.ejs") %>
</body>
</html>
<script src="/javascripts/products.js"></script>