<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="select-none">
    <!--header section-->
    <%- include("partials/sub-header.ejs") %>

    <!--body container-->
    <main class="my-2 mx-3 lg:grid lg:grid-cols-2 lg:gap-5">
        
        <!--category 1-->
        <div class="my-4 w-full ">
            
            <p class="text-sm font-medium opacity-75 lg:text-lg lg:font-semibold md:text-base my-4">Cutting Tools</p>
            <!--cards-->
            <div class="flex">
                <div class="flex  overflow-auto me-5 whitespace-nowrap">
                    <% for(i=0;i<3;i++) { %>
                    <div class="border-2 p-2 m-[1px] flex flex-col items-center min-w-[9rem] lg:h-60 lg:min-w-[170px]">
                        <div>
                            <img src="/images/circular saw.png" class="h-16 w-16 lg:w-28 lg:h-28 bg-[#DDE6ED]  rounded-full p-2"
                                alt="" />
                        </div>
                        <div>
                            <p class="py-1 text-sm max-w-[100px] truncate"><%= products[i].productname %></p>
                        </div>
                        <div>
                            <p class="text-xs opacity-50 max-w-[50px] truncate"><%= products[i].brandname %></p>
                        </div>
                        <div class="flex justify-between w-full items-center lg:my-6">
                            <div>
                                <span class="font-semibold text-sm">$ <%= products[i].regularprice %>/day</span>
                            </div>
                            <div>
                                <button class="p-1 bg-[#27374D] rounded-full"><img src="/images/cart-white.png" class="h-6 p-[2px]" alt=""></button>
                            </div>
                        </div>
                    </div> 
                    <% } %>
                    <div class="border-2 p-2 m-[1px] flex flex-col justify-center items-center min-w-[9rem] lg:h-60 lg:min-w-[170px]">
                        <div class="  flex items-center ">
                            <div class="flex flex-col items-center">
                                <img src="/images/right-arrow.png" class="h-9 p-2 min-w-[2.5rem] border-2 rounded-full drop-shadow-md" alt="">
                                <a class="text-xs opacity-60" href="">See more</a>
                            </div>
                        </div>
                    </div> 
                </div>
                
            </div>          
        </div>
        <!--category 1-->
        <div class="my-4 w-full ">
            
            <p class="text-sm font-medium opacity-75 lg:text-lg lg:font-semibold md:text-base my-4">Cutting Tools</p>
            <!--cards-->
            <div class="flex">
                <div class="flex  overflow-auto me-5 whitespace-nowrap">
                    <% for(i=0;i<3;i++) { %>
                    <div class="border-2 p-2 m-[1px] flex flex-col items-center min-w-[9rem] lg:h-60 lg:min-w-[170px]">
                        <div>
                            <img src="/images/circular saw.png" class="h-16 w-16 lg:w-28 lg:h-28 bg-[#DDE6ED]  rounded-full p-2"
                                alt="" />
                        </div>
                        <div>
                            <p class="py-1 text-sm max-w-[100px] truncate"><%= products[i].productname %></p>
                        </div>
                        <div>
                            <p class="text-xs opacity-50 max-w-[50px] truncate"><%= products[i].brandname %></p>
                        </div>
                        <div class="flex justify-between w-full items-center lg:my-6">
                            <div>
                                <span class="font-semibold text-sm">$ <%= products[i].regularprice %>/day</span>
                            </div>
                            <div>
                                <button class="p-1 bg-[#27374D] rounded-full"><img src="/images/cart-white.png" class="h-6 p-[2px]" alt=""></button>
                            </div>
                        </div>
                    </div> 
                    <% } %>
                    <div class="border-2 p-2 m-[1px] flex flex-col justify-center items-center min-w-[9rem] lg:h-60 lg:min-w-[170px]">
                        <div class="  flex items-center ">
                            <div class="flex flex-col items-center">
                                <img src="/images/right-arrow.png" class="h-9 p-2 min-w-[2.5rem] border-2 rounded-full drop-shadow-md" alt="">
                                <a class="text-xs opacity-60" href="">See more</a>
                            </div>
                        </div>
                    </div> 
                </div>
                
            </div>          
        </div>
        <!--category 1-->
        <div class="my-4 w-full ">
            
            <p class="text-sm font-medium opacity-75 lg:text-lg lg:font-semibold md:text-base my-4">Cutting Tools</p>
            <!--cards-->
            <div class="flex">
                <div class="flex  overflow-auto me-5 whitespace-nowrap">
                    <% for(i=0;i<3;i++) { %>
                    <div class="border-2 p-2 m-[1px] flex flex-col items-center min-w-[9rem] lg:h-60 lg:min-w-[170px]">
                        <div>
                            <img src="/images/circular saw.png" class="h-16 w-16 lg:w-28 lg:h-28 bg-[#DDE6ED]  rounded-full p-2"
                                alt="" />
                        </div>
                        <div>
                            <p class="py-1 text-sm max-w-[100px] truncate"><%= products[i].productname %></p>
                        </div>
                        <div>
                            <p class="text-xs opacity-50 max-w-[50px] truncate"><%= products[i].brandname %></p>
                        </div>
                        <div class="flex justify-between w-full items-center lg:my-6">
                            <div>
                                <span class="font-semibold text-sm">$ <%= products[i].regularprice %>/day</span>
                            </div>
                            <div>
                                <button class="p-1 bg-[#27374D] rounded-full"><img src="/images/cart-white.png" class="h-6 p-[2px]" alt=""></button>
                            </div>
                        </div>
                    </div> 
                    <% } %>
                    <div class="border-2 p-2 m-[1px] flex flex-col justify-center items-center min-w-[9rem] lg:h-60 lg:min-w-[170px]">
                        <div class="  flex items-center ">
                            <div class="flex flex-col items-center">
                                <img src="/images/right-arrow.png" class="h-9 p-2 min-w-[2.5rem] border-2 rounded-full drop-shadow-md" alt="">
                                <a class="text-xs opacity-60" href="">See more</a>
                            </div>
                        </div>
                    </div> 
                </div>
                
            </div>          
        </div>
        <!--category 1-->
        <div class="my-4 w-full ">
            
            <p class="text-sm font-medium opacity-75 lg:text-lg lg:font-semibold md:text-base my-4">Cutting Tools</p>
            <!--cards-->
            <div class="flex">
                <div class="flex  overflow-auto me-5 whitespace-nowrap">
                    <% for(i=0;i<3;i++) { %>
                    <div class="border-2 p-2 m-[1px] flex flex-col items-center min-w-[9rem] lg:h-60 lg:min-w-[170px]">
                        <div>
                            <img src="/images/circular saw.png" class="h-16 w-16 lg:w-28 lg:h-28 bg-[#DDE6ED]  rounded-full p-2"
                                alt="" />
                        </div>
                        <div>
                            <p class="py-1 text-sm max-w-[100px] truncate"><%= products[i].productname %></p>
                        </div>
                        <div>
                            <p class="text-xs opacity-50 max-w-[50px] truncate"><%= products[i].brandname %></p>
                        </div>
                        <div class="flex justify-between w-full items-center lg:my-6">
                            <div>
                                <span class="font-semibold text-sm">$ <%= products[i].regularprice %>/day</span>
                            </div>
                            <div>
                                <button class="p-1 bg-[#27374D] rounded-full"><img src="/images/cart-white.png" class="h-6 p-[2px]" alt=""></button>
                            </div>
                        </div>
                    </div> 
                    <% } %>
                    <div class="border-2 p-2 m-[1px] flex flex-col justify-center items-center min-w-[9rem] lg:h-60 lg:min-w-[170px]">
                        <div class="  flex items-center ">
                            <div class="flex flex-col items-center">
                                <img src="/images/right-arrow.png" class="h-9 p-2 min-w-[2.5rem] border-2 rounded-full drop-shadow-md" alt="">
                                <a class="text-xs opacity-60" href="">See more</a>
                            </div>
                        </div>
                    </div> 
                </div>
                
            </div>          
        </div>
        
        
        
        
    </main>
    <!--footer-->
    <%- include("partials/footer.ejs") %>


    
</body>
</html>